
# ChromaDB local storage
chroma_db_local/
chroma_db_local_backup/
*.sqlite3
*.bin
*.pickle

code/tests/
benchmark_results.txt
code/base_test/DATA_Test/
code/test_texts
code/processed_texts

code/__pycache__/

# Données sources
code/base_test/base_test_cgt/Domaine*/
Domaine*/